{% if request.user.groups.all.0.name == "GERENTE" %}
    {% extends "base_gerente.html" %}
{% elif request.user.groups.all.0.name == "ADMINISTRADOR" %}
    {% extends "base_adm.html" %}
{% else %}
    {% extends request.base_template %}
{% endif %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4" style="font-size: 2rem;">Eliminar Proveedor</h2>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="mb-4" style="font-size: 1.5rem;">¿Confirma que desea eliminar al proveedor <strong>{{ proveedor.nombre }}</strong>?</h4>

            <!-- Formulario de confirmación de eliminación -->
            <form method="POST" action="{% url 'eliminar_proveedor' proveedor.pk %}">
                {% csrf_token %}

                {% if materiales_asociados %}
                    <h4 class="mt-4 mb-3">Materiales Asociados</h4>
                    <ul class="list-group mb-3">
                        {% for material in materiales_asociados %}
                            <li class="list-group-item">
                                <span class="h5 font-weight-bold">Material: {{ material.nombre }}</span>
                                <div class="mt-2">
                                    Reasignar a:
                                    <select class="custom-select" name="reassign_material_{{ material.id }}">
                                        {% for otro_proveedor in otros_proveedores %}
                                            <option value="{{ otro_proveedor.id }}">{{ otro_proveedor.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger mr-2" name="confirmar">Eliminar</button>
                    <a class="btn btn-secondary" href="{% url 'ver_proveedores' %}">Cancelar</a>
                </div>
            </form> <!-- Fin del formulario -->

        </div>
    </div>
</div>
{% endblock %}
