{% extends 'base.html' %}

{% block content %}
<h2>Registro de proveedor</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Guardar" id="guardarBtn">
  <a href="{% url 'ver_proveedores' %}" class="btn btn-primary">Cancelar</a>
</form>
{% endblock %}

{% block extra_js %}
    <script>
        let rucsActuales = {{ rucs_json|safe }};
        let emailsActuales = {{ emails_json|safe }};

        document.getElementById("guardarBtn").addEventListener("click", function(event) {
            let rucField = document.getElementById("id_ruc");
            let rucIngresado = rucField.value;
            let emailField = document.getElementById("id_email");
            let emailIngresado = emailField.value;
            if (rucsActuales.includes(rucIngresado)) {
                event.preventDefault();  // Evitar que el formulario se envíe
                alert("El RUC ingresado ya está registrado en el sistema.");
                rucField.value = "";  // Limpiar el campo RUC
                rucField.focus();     // Colocar el foco en el campo RUC
            }
            if (emailsActuales.includes(emailIngresado)) {
                event.preventDefault();  // Evitar que el formulario se envíe
                alert("El email ingresado ya está registrado para un proveedor");
                emailField.value = "";  // Limpiar el campo RUC
                emailField.focus();     // Colocar el foco en el campo RUC
            }
        });
    </script>

{% endblock %}
