{% extends request.base_template %}
{% load widget_tweaks %}
{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Registrar Proveedor</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" id="mainForm">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <!-- Botón para abrir el modal de agregar contacto -->
            <button type="button" class="btn btn-primary" id="abrirModalBtn">
                Agregar Contacto
            </button>
            <!-- Sección donde se mostrarán los contactos agregados -->
            <div id="contactosAgregados" class="mb-3">
                <!-- Los contactos agregados se mostrarán aquí -->
            </div>
            <button type="submit" class="btn btn-success" id="guardarBtn">Registrar</button>
        </form>
        <a href="{% url 'ver_proveedores' %}" class="btn btn-secondary mt-3"><i class="fa fa-arrow-left"></i> Volver a Proveedores</a>
    </div>
</div>
<!-- Modal para agregar contacto -->
<div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactoModalLabel">Agregar Contacto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de Contacto -->
                <div class="mb-3">
                    <label for="contactoNombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="contactoNombre">
                </div>
                <div class="mb-3">
                    <label for="contactoNumero" class="form-label">Número:</label>
                    <input type="text" class="form-control" id="contactoNumero">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="agregarContactoBtn">Agregar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        let rucsActuales = {{ rucs_json|safe }};
        let emailsActuales = {{ emails_json|safe }};
        let contactos = [];

        document.getElementById("guardarBtn").addEventListener("click", function(event) {
            let rucField = document.getElementById("id_ruc");
            let rucIngresado = rucField.value;
            let emailField = document.getElementById("id_email");
            let emailIngresado = emailField.value;
            if (rucsActuales.includes(rucIngresado)) {
                event.preventDefault();  // Evitar que el formulario se envíe
                alert("El RUC ingresado ya está registrado en el sistema.");
                rucField.value = "";  // Limpiar el campo RUC
                rucField.focus();     // Colocar el foco en el campo RUC
            }
            if (emailsActuales.includes(emailIngresado)) {
                event.preventDefault();  // Evitar que el formulario se envíe
                alert("El email ingresado ya está registrado para un proveedor");
                emailField.value = "";  // Limpiar el campo RUC
                emailField.focus();     // Colocar el foco en el campo RUC
            }
        });

        document.getElementById("agregarContactoBtn").addEventListener("click", function() {
            let nombre = document.getElementById("contactoNombre").value;
            let numero = document.getElementById("contactoNumero").value;

            let regexNombre = /^[a-zA-Z\s]+$/;  // Solo letras y espacios
            let regexNumero = /^[0-9]+$/;       // Solo números

            if (!regexNombre.test(nombre)) {
                alert("El nombre del contacto solo debe contener letras y espacios.");
                return;
            }

            if (!regexNumero.test(numero)) {
                alert("El número del contacto solo debe contener números.");
                return;
            }

            if (nombre && numero) {
                contactos.push({nombre: nombre, numero: numero});

                let contenedorContactos = document.getElementById("contactosAgregados");
                let nuevoContacto = document.createElement("p");
                nuevoContacto.innerText = `Nombre: ${nombre}, Número: ${numero}`;
                contenedorContactos.appendChild(nuevoContacto);

                // Limpiar los campos del modal
                document.getElementById("contactoNombre").value = "";
                document.getElementById("contactoNumero").value = "";

                // Cerrar el modal usando la API de Bootstrap 5
                let modalContacto = new bootstrap.Modal(document.getElementById('contactoModal'));
                modalContacto.hide();
            } else {
                alert("Por favor, rellena ambos campos.");
            }
       });

        document.getElementById("mainForm").addEventListener("submit", function(event) {
            // Antes de enviar el formulario, agregamos los contactos como campos ocultos
            let form = event.target;

            contactos.forEach(contacto => {
                let inputNombre = document.createElement("input");
                inputNombre.type = "hidden";
                inputNombre.name = "contactos[]";
                inputNombre.value = contacto.nombre;
                form.appendChild(inputNombre);

                let inputNumero = document.createElement("input");
                inputNumero.type = "hidden";
                inputNumero.name = "contactos[]";
                inputNumero.value = contacto.numero;
                form.appendChild(inputNumero);
            });
        });

        document.getElementById("abrirModalBtn").addEventListener("click", function() {
            let modalContacto = new bootstrap.Modal(document.getElementById('contactoModal'));
            modalContacto.show();
        });
    </script>

{% endblock %}
