{% extends 'base.html' %}

{% block content %}
<h1 class="display-4 text-center">Proveedores</h1>
<br>
<div class="input-group w-25 mb-3">
  <input class="form-control" type="text" id="buscador" placeholder="Buscar por nombre o RUC">
  <input type="hidden" id="proveedorUrl" value="{% url 'ver_proveedor' 999999 %}">
</div>
<div id="resultadosBusqueda"></div>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">RUC</th>
            <th scope="col">Email</th>
            <th scope="col">Pagina web</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in page_obj %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.ruc }}</td>
            <td>{{ proveedor.email }}</td>
            <td>
                {% if proveedor.pagina_web %}
                    {% if "http://" in proveedor.pagina_web or "https://" in proveedor.pagina_web %}
                        <a href="{{ proveedor.pagina_web }}" target="_blank">{{ proveedor.pagina_web }}</a>
                    {% else %}
                        <a href="http://{{ proveedor.pagina_web }}" target="_blank">{{ proveedor.pagina_web }}</a>
                    {% endif %}
                {%else%}
                    -
                {%endif%}
            </td>
            <td>{{ proveedor.ciudad }}</td>
            <td>{{ proveedor.direccion }}</td>
            <td>
                <!-- Botón para abrir el modal de edición -->
                <button type="button" class="btn btn-primary editarProveedorBtn" data-proveedor-id="{{ proveedor.id }}">Editar</button>

                <!-- Botón para abrir el modal de contactos -->
                <button type="button" class="btn btn-primary mostrarContactosBtn" data-proveedor-id="{{ proveedor.id }}">
                    Mostrar Contactos
                </button>


                <!-- Formulario para eliminar proveedor -->
                <form method="POST" action="{% url 'eliminar_proveedor' proveedor.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="proveedor_id" value="{{ proveedor.id }}">
                    <button type="submit"  class="btn btn-primary">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Primera</a></li>
      <li class="page-item disabled"><a class="page-link">Anterior</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
      <li class="page-item disabled"><a class="page-link">Última</a></li>
    {% endif %}
  </ul>
</nav>


<!-- Modal para editar proveedor -->
<div class="modal fade" id="editarProveedorModal" tabindex="-1" aria-labelledby="editarProveedorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarProveedorModalLabel">Editar Proveedor</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" action="{% url 'editar_proveedor' 0 %}" id="editarProveedorForm">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Campo oculto para el ID del proveedor -->
                    <input type="hidden" name="proveedor_id" id="proveedorId">

                    <!-- Campos del proveedor -->
                    <div class="form-group">
                        <label for="nombreProveedor">Nombre:</label>
                        <input type="text" class="form-control" id="nombreProveedor" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="rucProveedor">RUC:</label>
                        <!-- Mensaje de error para el RUC -->
                        <div id="errorRucProveedor" class="text-danger"></div>
                        <input type="text" class="form-control" id="rucProveedor" name="ruc">
                    </div>
                    <div class="form-group">
                        <label for="emailProveedor">Email:</label>
                        <input type="email" class="form-control" id="emailProveedor" name="email">
                    </div>
                    <div class="form-group">
                        <label for="direccionProveedor">Dirección:</label>
                        <input type="text" class="form-control" id="direccionProveedor" name="direccion">
                    </div>
                    <div class="form-group">
                        <label for="ciudadProveedor">Ciudad:</label>
                        <input type="text" class="form-control" id="ciudadProveedor" name="ciudad">
                    </div>
                    <div class="form-group">
                        <label for="paginaWebProveedor">Página Web:</label>
                        <input type="text" class="form-control" id="paginaWebProveedor" name="pagina_web">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal para mostrar contactos -->
<div class="modal fade" id="mostrarContactosModal" tabindex="-1" aria-labelledby="mostrarContactosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mostrarContactosModalLabel">Contactos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contactosBody"></div>

                <h6>Agregar nuevo contacto</h6>
                <div class="mb-3">
                    <label for="nombreContacto" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreContacto">
                </div>
                <div class="mb-3">
                    <label for="numeroContacto" class="form-label">Número</label>
                    <input type="text" class="form-control" id="numeroContacto">
                </div>
                <button type="button" class="btn btn-primary" id="agregarContactoBtn">Agregar Contacto</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <a href="{% url 'inicio' %}" class="btn btn-primary">Volver a Inicio</a>
    <form id="exportarForm" method="post" action="{% url 'exportar_excel' %}">
        {% csrf_token %}
        <input type="hidden" name="tipo_dato" value="Proveedores">
        <input type="hidden" name="criterio" id="criterioInput">
        <button type="submit" class="btn btn-primary">Exportar xlsx</button>
    </form>
    <a href="{% url 'registrar_proveedor' %}" class="btn btn-primary">Registrar nuevo proveedor</a>

</div>





{% endblock %}

{% block extra_js %}
<script>
    let currentProveedorId = null;
    document.addEventListener('DOMContentLoaded', (event) => {
        // Manejo de botones editar proveedor
        let editarProveedorBtns = document.querySelectorAll(".editarProveedorBtn");
        editarProveedorBtns.forEach(btn => {
            btn.addEventListener("click", function() {
                let proveedorId = this.getAttribute("data-proveedor-id");
                fetch(`/get_proveedor_data/${proveedorId}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById("proveedorId").value = proveedorId;
                    document.getElementById("nombreProveedor").value = data.nombre;
                    document.getElementById("rucProveedor").value = data.ruc;
                    document.getElementById("emailProveedor").value = data.email;
                    document.getElementById("direccionProveedor").value = data.direccion || '';  // Añadido
                    document.getElementById("ciudadProveedor").value = data.ciudad || '';        // Añadido
                    document.getElementById("paginaWebProveedor").value = data.pagina_web || ''; // Añadido
                    document.getElementById("editarProveedorForm").action = `/editar_proveedor/${proveedorId}/`;

                    let modal = new bootstrap.Modal(document.getElementById('editarProveedorModal'));
                    modal.show();  // <-- Mostramos el modal

                })
                .catch(error => {
                    console.log('There was a problem with the fetch operation:', error.message);
                });
            });
        });

        document.getElementById("editarProveedorForm").addEventListener("submit", function(event) {
            event.preventDefault();
            let formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.status == 400) {
                    return response.json().then(data => {
                        throw data;
                    });
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'success') {
                    let modal = bootstrap.Modal.getInstance(document.getElementById('editarProveedorModal'));
                    modal.hide();
                    location.reload();
                }
            })
            .catch(error => {
                if (error.errors) {
                    for (let [key, value] of Object.entries(error.errors)) {
                        let input = document.getElementById(key + "Proveedor");
                        let errorDiv = document.createElement("div");
                        errorDiv.className = "invalid-feedback";
                        errorDiv.innerText = value;
                        input.classList.add("is-invalid");
                        input.parentElement.appendChild(errorDiv);
                    }
                } else {
                    console.error("Hubo un error al enviar el formulario:", error);
                }
            });
        });
    });



    // Botones para mostrar contactos de los proveedores
    document.addEventListener('DOMContentLoaded', (event) => {

        let mostrarContactosBtns = document.querySelectorAll(".mostrarContactosBtn");
        mostrarContactosBtns.forEach(btn => {
            btn.addEventListener("click", function() {
                currentProveedorId = this.getAttribute("data-proveedor-id");
                let proveedorId = this.getAttribute("data-proveedor-id");

                fetch(`/get_contactos_proveedor/${proveedorId}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    let contactosBody = document.getElementById("contactosBody");
                    contactosBody.innerHTML = ""; // Limpia el contenido previo

                    data.contactos.forEach(contacto => {
                        let div = document.createElement("div");
                        div.className = "d-flex justify-content-between align-items-center mb-2";

                        let p = document.createElement("p");
                        p.innerText = `Nombre: ${contacto.nombre}, Número: ${contacto.numero}`;
                        div.appendChild(p);

                        let eliminarBtn = document.createElement("button");
                        eliminarBtn.className = "btn btn-danger btn-sm eliminarContactoBtn";
                        eliminarBtn.setAttribute("data-contacto-id", contacto.id);
                        console.log(contacto.id)
                        eliminarBtn.innerText = "Eliminar";
                        div.appendChild(eliminarBtn);

                        contactosBody.appendChild(div);
                    });

                    let modal = new bootstrap.Modal(document.getElementById('mostrarContactosModal'));
                    modal.show();
                })
                .catch(error => {
                    console.log('There was a problem with the fetch operation:', error.message);
                });
            });
        });



        // Funcionalidad para agregar contactos
        document.getElementById("agregarContactoBtn").addEventListener("click", function() {
            let proveedorId = currentProveedorId
            console.log(proveedorId);

            let nombre = document.getElementById("nombreContacto").value;
            let numero = document.getElementById("numeroContacto").value;

            fetch(`/agregar_contacto/proveedor/${proveedorId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ nombre: nombre, numero: numero })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Actualizar la lista de contactos o recargar el modal
                    location.reload();
                }
            });
        });


        // Funcionalidad para eliminar contactos
        document.addEventListener("click", function(event) {
            if (event.target.classList.contains("eliminarContactoBtn")) {
                let contactoId = event.target.getAttribute("data-contacto-id");
                fetch(`/eliminar_contacto/${contactoId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // Eliminar el contacto de la lista o recargar el modal
                        location.reload();
                    }
                });
            }
        });
    });

        //buscador
    document.getElementById('buscador').addEventListener('input', function() {
        let query = this.value;
        let resultadosDiv = document.getElementById('resultadosBusqueda');
        let baseUrl = document.getElementById('proveedorUrl').value;

        if (query.length >= 3) {
            fetch(`/buscar_proveedores/?q=${query}`)
            .then(response => response.json())
            .then(data => {
                resultadosDiv.innerHTML = '';  // Limpiar resultados anteriores
                data.forEach(proveedor => {
                    let div = document.createElement('div');
                    let proveedorUrl = baseUrl.replace('999999', proveedor.id);
                    div.innerHTML = `<a class="container" href="${proveedorUrl}">${proveedor.nombre}</a>`;
                    resultadosDiv.appendChild(div);
                });
            });
        } else {
            resultadosDiv.innerHTML = '';  // Limpiar resultados si la consulta es demasiado corta
        }
    });
</script>
{% endblock %}



