{% extends 'base.html' %}

{% block content %}

<h1>Actualizar presupuesto</h1>

<form method="POST">
  {% csrf_token %}
  <label for="id_monto_total">Monto total:</label>
  <input type="text" id="id_monto_total" name="monto_total" value="{{ presupuesto.monto_total }}"><br>

  <label for="id_estado">Estado:</label>
  <select id="id_estado" name="estado">
    {% for estado, display_name in presupuesto.ESTADOS %}
      <option value="{{ estado }}" {% if presupuesto.estado == estado %}selected{% endif %}>{{ display_name }}</option>
    {% endfor %}
  </select><br>

  <button type="submit">Actualizar</button>
</form>

{% endblock %}