{% extends request.base_template %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Crear/Editar Presupuesto</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Detalles del Presupuesto</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Botones para añadir secciones, subsecciones y detalles -->
                        <div class='button-group'>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddSeccion"><i class="fa fa-plus-circle"></i> Añadir Sección</button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAddSubseccion"><i class="fa fa-plus-circle"></i> Añadir Subsección</button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalAddDetalle"><i class="fa fa-plus-circle"></i> Añadir Detalle</button>
                        </div>

                        <!-- Aquí iría la visualización del presupuesto -->
                        <div id="presupuesto-content" class="table-responsive">
                            <!-- Contenido del presupuesto como tabla o listado -->
                            <table class="table table-hover">
                                <!-- Cabecera de la tabla -->
                                <thead>
                                    <tr>
                                        <th>Sección</th>
                                        <th>Subsección</th>
                                        <th>Detalle</th>
                                        <!-- Más columnas según sea necesario -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Los elementos del presupuesto se añadirán aquí dinámicamente -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modales para añadir secciones, subsecciones y detalles -->
{% include 'modals/modal_add_seccion.html' %}
{% include 'modals/modal_add_subseccion.html' %}
{% include 'modals/modal_add_detalle.html' %}

{% endblock %}
