{% extends request.base_template %}
{% load custom_filters %}

{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Elaborar Certificado</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <form id="seleccionar-obra-form" class="form-inline">
                        <div class="form-group">
                            <label for="obra-selector">Seleccione una Obra: </label>
                            <select id="obra-selector" class="form-control">
                                {% for obra in obras %}
                                    <option value="{{ obra.id }}">{{ obra.proyecto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" id="cargar-detalles-btn" class="btn btn-primary">Seleccionar</button>
                    </form>
                    <hr>
                    <div id="detalles-cronograma-container">
                        <!-- Aquí se cargarán los detalles del cronograma -->
                    </div>
                </div>
                <button type="button" id="guardar-certificado-btn" class="btn btn-success">Guardar Certificado</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const cargarDetallesBtn = document.getElementById('cargar-detalles-btn');
    cargarDetallesBtn.addEventListener('click', function() {
        const obraId = document.getElementById('obra-selector').value;
        fetch(`/cargar_detalles_certificado/?obra_id=${obraId}`)
            .then(response => response.json())
            .then(detalles => {
                // Construir y mostrar la tabla de detalles
                const detallesContainer = document.getElementById('detalles-cronograma-container');
                detallesContainer.innerHTML = ''; // Limpiar el contenido anterior
                if (detalles.length > 0) {
                    const table = document.createElement('table');
                    table.className = 'table table-striped table-bordered';
                    const thead = document.createElement('thead');
                    thead.innerHTML = `
                        <tr>
                            <th>Rubro</th>
                            <th>Fecha de Culminación</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Agregar al certificado<th>
                        </tr>`;
                    table.appendChild(thead);

                    const tbody = document.createElement('tbody');
                    detalles.forEach(detalle => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td>${detalle.detalle__rubro}</td>
                            <td>${detalle.fecha_culminacion}</td>
                            <td>${detalle.detalle__cantidad}</td>
                            <td>${detalle.detalle__precio_unitario}</td>
                            <td>${detalle.detalle__precio_total}</td>
                            <td><input type="checkbox" class="seleccionar-fila" data-id="${detalle.id}"></td>
                            `;
                        tbody.appendChild(tr);
                    });
                    table.appendChild(tbody);
                    detallesContainer.appendChild(table);
                } else {
                    detallesContainer.innerHTML = '<p>No hay detalles para mostrar</p>';
                }
            });
    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    const guardarCertificadoBtn = document.getElementById('guardar-certificado-btn');
    guardarCertificadoBtn.addEventListener('click', function() {
    const csrftoken = getCookie('csrftoken');
        const obraId = document.getElementById('obra-selector').value; // Captura el ID de la obra seleccionada
        const filasSeleccionadas = document.querySelectorAll('#detalles-cronograma-container .seleccionar-fila:checked');
        const idsCertificado = Array.from(filasSeleccionadas).map(cb => cb.getAttribute('data-id'));

        // Crea un objeto que incluya tanto los IDs de los detalles como el ID de la obra
        const datosParaEnviar = {
            ids: idsCertificado,
            obra_id: obraId
        };

        fetch('/guardar_certificado/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(datosParaEnviar)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") { // Cambiado de data.success a data.status
                // Si el servidor responde con éxito, redirige a la URL deseada.
                window.location.href = '/ver_certificados_ing';
            } else {
                // Manejar la situación donde la respuesta del servidor no es éxito.
                alert('Hubo un error: ' + data.message);
            }
        })
        .catch(error => {
            // Manejar errores
        });
    });
});
</script>
{% endblock %}
