{% extends request.base_template %}

{% block content %}
<h1 class="display-4 text-center">Solicitar Materiales</h1>

<form id="formPedidoMateriales" method="POST" action="{% url 'pedido_materiales' %}">
    {% csrf_token %}
    <label for="obra">Seleccione la Obra</label>
      <select name="obra" id="obra">
          {% for obra in obras %}
          <option value="{{ obra.id }}">{{ obra.proyecto.nombre }}</option>
          {% endfor %}
      </select>
    <div class="row">
        {% for material in materiales %}
        <div class="col-md-2 mb-4">
            <div class="card text-center">  <!-- Añadimos text-center para centrar el contenido -->
                <img src="/{{ material.fotografia }}" class="card-img-top" alt="{{ material.nombre }}">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ material.nombre }}</h5> <!-- Añadimos font-weight-bold para hacer el nombre en negrita -->
                    <p class="card-text">{{ material.marca }}</p>
                    <p class="card-text">{{ material.medida }}</p> <!-- Añadimos la unidad de medida -->
                    <input type="hidden" id="minimo_{{ material.id }}" value="{{ material.minimo }}">
                    <div class="d-flex justify-content-center">  <!-- Cambiamos justify-content-between a justify-content-center para centrar los botones e input -->
                        <button type="button" class="btn btn-primary decrement-btn" data-material-id="{{ material.id }}">-</button>
                        <input type="number" id="cantidad_{{ material.id }}" name="cantidad_{{ material.id }}" value="0" readonly class="mx-2">  <!-- Añadimos margen horizontal (mx-2) para dar espacio entre los botones y el input -->
                        <button type="button" class="btn btn-primary increment-btn" data-material-id="{{ material.id }}">+</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="solicitarMateriales" class="btn btn-primary">Solicitar Materiales</button>
</form>
<br>
<a href="{% url 'inicio_ingenieros' %}" class="btn btn-primary">Inicio</a>
{% endblock %}


{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
let carrito = {};

document.getElementById('solicitarMateriales').addEventListener('click', function() {
    const form = document.getElementById('formPedidoMateriales');

    // Elimina inputs ocultos previos (si los hubiera)
    const inputsOcultos = document.querySelectorAll('.inputOculto');
    inputsOcultos.forEach(input => input.remove());

    for (let materialId in carrito) {
        if (carrito[materialId] > 0) {
            const inputOculto = document.createElement('input');
            inputOculto.type = 'hidden';
            inputOculto.name = 'material_' + materialId;
            inputOculto.value = carrito[materialId];
            inputOculto.classList.add('inputOculto'); // Clase para identificar y eliminar más tarde
            form.appendChild(inputOculto);
        }
    }
    // Verificar si hay materiales en el carrito
    if (!Object.values(carrito).some(value => value > 0)) {
        alert("Debes seleccionar al menos un material.");
        event.preventDefault();  // Prevenir el envío del formulario
    } else {
        form.submit();  // Envía el formulario
    }

});



// Obtenemos todos los botones de incremento y decremento
var incrementButtons = document.querySelectorAll(".increment-btn");
var decrementButtons = document.querySelectorAll(".decrement-btn");

// Iteramos sobre los botones de incremento y agregamos el evento click
incrementButtons.forEach(function(button) {
  button.addEventListener("click", function(event) {
    console.log("Botón incrementar presionado"); // Añade esta línea
    var materialId = button.getAttribute("data-material-id");
    var input = document.getElementById("cantidad_" + materialId);
    var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
    var cantidad = input.valueAsNumber;

    cantidad += minimo;
    input.value = cantidad;
    // Actualizar el carrito
    carrito[materialId] = cantidad;
    event.preventDefault();
  });
});

// Iteramos sobre los botones de decremento y agregamos el evento click
decrementButtons.forEach(function(button) {
  button.addEventListener("click", function(event) {
    console.log("Botón decrementar presionado"); // Añade esta línea
    var materialId = button.getAttribute("data-material-id");
    var input = document.getElementById("cantidad_" + materialId);
    var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
    var cantidad = input.valueAsNumber;

    cantidad -= minimo;

    if (cantidad < 0) {
      cantidad = 0;
    }

    input.value = cantidad;
    // Actualizar el carrito
    carrito[materialId] = cantidad;
    event.preventDefault();
  });
});
});

</script>
{% endblock %}