{% extends request.base_template %}

{% block content %}
<div class="x_panel">
    <h2 class="x_title">Solicitar Materiales</h2>
    <div class="row" style="display: flex; flex-direction: column; align-items: center;">
        <div class="col-12">
            <form id="search-form" class="mb-2">
                <div class="input-group" style="width: 100%; max-width: 400px;">
                    <input type="text" id="search-input" class="form-control" placeholder="Buscar material..." name="search">
                </div>
            </form>
        </div>
    </div>
    <div id="search-results" style="display:none; width: 100%; max-width: 400px; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 10px; position: absolute; z-index: 1;">
        <!-- Aquí se mostrarán los resultados de la búsqueda -->
    </div>
    <form id="formPedidoMateriales" method="POST" action="{% url 'pedido_materiales' %}" class="mt-2">
        <div class="d-flex justify-content-end">
            <div class="ml-auto">
                <button id="solicitarMateriales" class="btn btn-primary">Solicitar Materiales</button>
            </div>
        </div>
        {% csrf_token %}
        <div class="form-group" style="margin-bottom: 0.5rem;">
            <label for="obra">Seleccione la Obra</label>
            <select name="obra" id="obra" class="form-control">
                {% for obra in obras %}
                <option value="{{ obra.id }}">{{ obra.proyecto.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            {% for material in page_obj %}
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 mb-4">
                <div id="material-card-{{ material.id }}" class="card h-100 d-flex flex-column">
                    <img src="/{{ material.fotografia }}" class="img-fluid" alt="{{ material.nombre }}" style="width: auto; height: 150px; object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-center">{{ material.nombre }}</h5>
                            <p class="card-text text-center">{{ material.marca }}</p>
                            <p class="card-text text-center">{{ material.medida }}</p>
                        </div>
                        <input type="hidden" id="minimo_{{ material.id }}" value="{{ material.minimo }}">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info decrement-btn" data-material-id="{{ material.id }}">-</button>
                            <input type="number" id="cantidad_{{ material.id }}" name="cantidad_{{ material.id }}" value="0" readonly class="form-control mx-2">
                            <button type="button" class="btn btn-success increment-btn" data-material-id="{{ material.id }}">+</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
              </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </form>
    <br>
    <a href="{% url 'inicio_ingenieros' %}" class="btn btn-secondary">Inicio</a>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    let carrito = JSON.parse(localStorage.getItem('carrito')) || {};

    // Función para actualizar el valor de los inputs desde el carrito
    function actualizarInputsDesdeCarrito() {
        for (let materialId in carrito) {
            const input = document.getElementById('cantidad_' + materialId);
            if (input) {
                input.value = carrito[materialId];
            }
        }
    }

    // Actualiza los inputs cuando la página se carga
    actualizarInputsDesdeCarrito();

    document.getElementById('solicitarMateriales').addEventListener('click', function(event) {
        const form = document.getElementById('formPedidoMateriales');

        // Elimina inputs ocultos previos (si los hubiera)
        const inputsOcultos = document.querySelectorAll('.inputOculto');
        inputsOcultos.forEach(input => input.remove());

        for (let materialId in carrito) {
            if (carrito[materialId] > 0) {
                const inputOculto = document.createElement('input');
                inputOculto.type = 'hidden';
                inputOculto.name = 'material_' + materialId;
                inputOculto.value = carrito[materialId];
                inputOculto.classList.add('inputOculto'); // Clase para identificar y eliminar más tarde
                form.appendChild(inputOculto);
            }
        }
        // Verificar si hay materiales en el carrito
        if (!Object.values(carrito).some(value => value > 0)) {
            alert("Debes seleccionar al menos un material.");
            event.preventDefault();  // Prevenir el envío del formulario
        } else {
            form.submit();  // Envía el formulario
        }
    });

    // Obtenemos todos los botones de incremento y decremento
    var incrementButtons = document.querySelectorAll(".increment-btn");
    var decrementButtons = document.querySelectorAll(".decrement-btn");

    // Iteramos sobre los botones de incremento y agregamos el evento click
    incrementButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
            var materialId = button.getAttribute("data-material-id");
            var input = document.getElementById("cantidad_" + materialId);
            var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
            var cantidad = input.valueAsNumber;

            cantidad += minimo;
            input.value = cantidad;
            // Actualizar el carrito
            carrito[materialId] = cantidad;
            // Guardar el carrito en localStorage
            localStorage.setItem('carrito', JSON.stringify(carrito));
            event.preventDefault();
        });
    });

    // Iteramos sobre los botones de decremento y agregamos el evento click
    decrementButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
            var materialId = button.getAttribute("data-material-id");
            var input = document.getElementById("cantidad_" + materialId);
            var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
            var cantidad = input.valueAsNumber;

            cantidad -= minimo;
            if (cantidad < 0) {
                cantidad = 0;
            }
            input.value = cantidad;
            // Actualizar el carrito
            carrito[materialId] = cantidad;
            // Guardar el carrito en localStorage
            localStorage.setItem('carrito', JSON.stringify(carrito));
            event.preventDefault();
        });
    });

    // Código de búsqueda de materiales
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    searchInput.addEventListener('input', function() {
        const searchQuery = searchInput.value;
        if (searchQuery.length >= 3) {
            searchResults.style.display = 'block';

            fetch('/buscar_materiales/?search=' + searchQuery)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('search-results').innerHTML = '';

                    if (data.length > 0) {
                        data.forEach(material => {
                            const resultDiv = document.createElement('div');
                            resultDiv.classList.add('search-result');
                            resultDiv.innerHTML = `<p><a href="#" data-material-id="${material.id}" class="material-link">${material.nombre}</a></p>`;
                            document.getElementById('search-results').appendChild(resultDiv);
                        });

                        const materialLinks = document.querySelectorAll('.material-link');
                        materialLinks.forEach(link => {
                            link.addEventListener('click', function(event) {
                                event.preventDefault();
                                const materialId = link.getAttribute('data-material-id');
                                const materialCard = document.getElementById('material-card-' + materialId);

                                if (materialCard) {
                                    materialCard.classList.add('highlighted');
                                    materialCard.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
                                } else {
                                    const pageNumber = calcularNumeroPagina(materialId);
                                    window.location.href = '?page=' + pageNumber + '#material-card-' + materialId;
                                }
                            });
                        });
                    } else {
                        document.getElementById('search-results').innerHTML = '<p>No se encontraron resultados.</p>';
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud AJAX:', error);
                });
        } else {
            searchResults.style.display = 'none';
            document.getElementById('search-results').innerHTML = '';
        }
    });

    function calcularNumeroPagina(materialId) {
        const materialCards = document.querySelectorAll('.card[id^="material-card-"]');
        let elementoEncontrado = false;
        let indice = -1;

        for (let i = 0; i < materialCards.length; i++) {
            const card = materialCards[i];
            const cardId = card.getAttribute('id');

            if (cardId === 'material-card-' + materialId) {
                elementoEncontrado = true;
                indice = i;
                break;
            }
        }

        if (elementoEncontrado) {
            const elementosPorPagina = 12;
            const numeroPagina = Math.floor(indice / elementosPorPagina) + 1;
            return numeroPagina;
        } else {
            return 1;
        }
    }
});
</script>
{% endblock %}