<!-- ver_devolucion.html -->
{% extends 'base_ing.html' %}

{% block content %}
    <div style="text-align: center; margin-bottom: 1rem;">
        <h1 style="display: inline-block; margin: 0;">Devolución del pedido <strong>#{{ devolucion.pedido.id }}</strong> de la Obra <strong>{{ devolucion.obra.proyecto.nombre }}</strong></h1>
    </div>
    <div>
        <h2>Fecha de solicitud: {{devolucion.fecha_solicitud}}</h2>
        {% if devolucion.fecha_devolucion is not None %}
            <h2>Fecha de Devolución: {{devolucion.fecha_devolucion}}</h2>
        {% endif %}
        <h2>Estado: {{devolucion.get_estado_display}}</h2>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <br>
        <div class="x_panel">
          <div class="x_title">
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title" style="width: 15%;">Nombre del producto</th>
                          <th class="column-title" style="width: 15%;">Marca</th>
                          <th class="column-title" style="width: 20%;">Fotografía</th> <!-- Aumentado el ancho -->
                          <th class="column-title" style="width: 10%;">Cantidad devuelta</th> <!-- Reducido el ancho -->
                          <th class="column-title" style="width: 10%;">Unidad de medida</th> <!-- Reducido el ancho -->
                          {% if devolucion.observaciones is not None %}
                            <th class="column-title" style="width: 20%;">Observaciones</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for material_devuelto in devolucion.materialdevuelto_set.all %}
                            <tr>
                                <td>{{ material_devuelto.material.nombre }}</td>
                                <td>{{ material_devuelto.material.marca }}</td>
                                <td><img src="{{ material_devuelto.material.foto.url }}" alt="Foto" style="max-width: 100%; height: auto;"></td>
                                <td>{{ material_devuelto.cantidad }}</td>
                                <td>{{ material_devuelto.material.medida }}</td>
                                {% if devolucion.observaciones is not None %}
                                    <td>{{ devolucion.observaciones }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
            </div>
          </div>
                <a href="{% url 'ver_devoluciones' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Atrás</a>
          </div>
      </div>
    </div>
{% endblock%}