{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Listado de ingenieros</h1>
  <form method="POST" class="form-inline mb-3">
    {% csrf_token %}
    {{ form_buscar.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">Nombre de Usuario</th>
        <th scope="col" style="width: 15%">Nombre</th>
        <th scope="col" style="width: 15%">Apellido</th>
        <th scope="col" style="width: 10%">email</th>
        <th scope="col" style="width: 10%">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for ingeniero in ingenieros%}
          <td>{{ ingeniero.username }}</td>
          <td>{{ ingeniero.first_name  }}</td>
          <td>{{ ingeniero.last_name }}</td>
          <td>{{ ingeniero.email}}</td>
          <td>
            <button type="submit"><a class="no-link" href="{% url 'editar_ingeniero' ingeniero.id %}">Editar</a></button>
            <button type="submit"><a class="no-link" href="{% url 'eliminar_ingeniero' ingeniero.id %}">Eliminar</a></button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit"><a href="{% url 'registrar_ingeniero' %}" class="no-link">Registrar Ingeniero</a></button>
  <button type="submit"><a href="{% url 'inicio' %}" class="no-link">Inicio</a></button>
{% endblock %}
