{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="display-4 text-center">Ingenieros</h1>
  <br>
<div class="input-group w-25 mb-3">
  <input class="form-control" type="text" id="buscador" placeholder="Buscar por nombre de usuario, nombre o apellido">
  <input type="hidden" id="ingenieroUrl" value="{% url 'ver_ingeniero' 999999 %}">
</div>
<div id="resultadosBusqueda"></div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">Nombre de Usuario</th>
        <th scope="col" style="width: 15%">Nombre</th>
        <th scope="col" style="width: 15%">Apellido</th>
        <th scope="col" style="width: 10%">email</th>
        <th scope="col" style="width: 10%">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for ingeniero in page_obj%}
          <td>{{ ingeniero.username }}</td>
          <td>{{ ingeniero.first_name  }}</td>
          <td>{{ ingeniero.last_name }}</td>
          <td>{{ ingeniero.email}}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'editar_ingeniero' ingeniero.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'eliminar_ingeniero' ingeniero.id %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Primera</a></li>
      <li class="page-item disabled"><a class="page-link">Anterior</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
      <li class="page-item disabled"><a class="page-link">Última</a></li>
    {% endif %}
  </ul>
</nav>

<div class="d-flex justify-content-between align-items-center">

  <a href="{% url 'inicio' %}" class="btn btn-primary">Volver a Inicio</a>
  <form id="exportarForm" method="post" action="{% url 'exportar_excel' %}">
    {% csrf_token %}
    <input type="hidden" name="tipo_dato" value="Ingenieros">
    <input type="hidden" name="criterio" id="criterioInput">
    <button type="submit" class="btn btn-primary">Exportar xlsx</button>
  </form>
  <a href="{% url 'registrar_ingeniero' %}" class="btn btn-primary">Registrar Ingeniero</a>

</div>

{% endblock %}

{% block extra_js %}
<script>
document.getElementById('buscador').addEventListener('input', function() {
    let query = this.value;
    let resultadosDiv = document.getElementById('resultadosBusqueda');
    let baseUrl = document.getElementById('ingenieroUrl').value;

    if (query.length >= 3) {
        fetch(`/buscar_ingenieros/?q=${query}`)
        .then(response => response.json())
        .then(data => {
            resultadosDiv.innerHTML = '';  // Limpiar resultados anteriores
            data.forEach(ingeniero => {
                let div = document.createElement('div');
                let ingenieroUrl = baseUrl.replace('999999', ingeniero.id);
                div.innerHTML = `<a class="container" href="${ingenieroUrl}">${ingeniero.nombre} ${ingeniero.apellido}</a>`;
                resultadosDiv.appendChild(div);
            });
        });
    } else {
        resultadosDiv.innerHTML = '';  // Limpiar resultados si la consulta es demasiado corta
    }
});


</script>
{% endblock %}

