{% extends 'base.html' %}

{% block content %}
  <h1 class="display-4 text-center">Bienvenido {{nombre}}</h1>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <div class="mx-2">
        <a href="{% url 'ver_presupuestos_adm' %}" class="btn btn-primary btn-lg">Ver Presupuestos</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'registrar_anticipo' %}" class="btn btn-primary btn-lg">Registrar Anticipo</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'asignar_obras' %}" class="btn btn-primary btn-lg">Asignar obras</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'salir' %}" class="btn btn-primary btn-lg">Cerrar Sesion</a>
    </div>
</div>


{% endblock %}
