{% extends 'base.html' %}
{% block content %}
    <h1 class="display-4 text-center">Proyectos al dia</h1>
    <h2 class="display-4 text-center">Panel de administración</h2>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <div class="mx-2">
        <a href="{% url 'ver_ingenieros' %}" class="btn btn-primary btn-lg">Ingenieros</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'ver_clientes' %}" class="btn btn-primary btn-lg">Clientes</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'ver_proveedores' %}" class="btn btn-primary btn-lg">Proveedores</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'ver_materiales' %}" class="btn btn-primary btn-lg">Materiales</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'ver_proyectos' %}" class="btn btn-primary btn-lg">Proyectos</a>
    </div>
    <div class="mx-2">
        <a href="{% url 'salir' %}" class="btn btn-primary btn-lg">Cerrar Sesion</a>
    </div>
</div>

{% endblock %}