{% extends 'base.html' %}
{% block content %}
    <h1 class="display-4 text-center">Proyectos al dia</h1>
    <h2 class="display-4 text-center">Panel de administración</h2>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <a href="{% url 'ver_ingenieros' %}" class="btn btn-primary">Ingenieros</a>
    <a href="{% url 'ver_clientes' %}" class="btn btn-primary">Clientes</a>
    <a href="{% url 'ver_proveedores' %}" class="btn btn-primary">Proveedores</a>
    <a href="{% url 'ver_materiales' %}" class="btn btn-primary">Materiales</a>
    <a href="{% url 'ver_proyectos' %}" class="btn btn-primary">Proyectos</a>
    <a href="{% url 'salir' %}" class="btn btn-primary">Cerrar Sesion</a>
</div>
{% endblock %}