{% extends request.base_template %}
{% load custom_filters %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Presupuestos</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <!-- Filtros y búsqueda -->
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" type="text" id="buscadorPresupuestos" placeholder="Buscar por nombre de proyecto">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="hidden" id="presupuestoUrl" value="{% url 'ver_presupuesto_adm' 999999 %}">
                </div>
                <div id="resultadosBusquedaPresupuestos"></div>
            </div>
            <div class="col-md-3">
                <!-- Dropdown para seleccionar el campo de filtro -->
                <select id="filtroCampo" class="form-control">
                    <option value="cliente">Cliente</option>
                    <option value="encargadoPresupuesto">Encargado del Presupuesto</option>
                    <option value="estadoPresupuesto">Estado del Presupuesto</option>
                    <option value="estadoAnticipo">Anticipo</option>
                </select>
            </div>
            <div class="col-md-3">
                <!-- Dropdown para seleccionar el valor específico del filtro -->
                <select id="filtroValor" class="form-control">
                    <!-- Este se llenará dinámicamente usando JS -->
                </select>
            </div>
        </div>

        <!-- Tabla de presupuestos -->
        {% if presupuestos %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre del proyecto</th>
                    <th>Cliente</th>
                    <th>Ingeniero asignado</th>
                    <th>Estado</th>
                    <th>Anticipo recibido</th>
                    <th>Monto Presupuesto</th>
                    <th>Monto Anticipo</th>
                    <th>Fecha de pago de Anticipo</th>
                </tr>
            </thead>
            <tbody>
                {% for presupuesto in page_obj %}
                <tr>
                    <td>{{ presupuesto.proyecto.nombre }}</td>
                    <td>{{ presupuesto.proyecto.cliente.nombre }}</td>
                    <td>{{ presupuesto.encargado.first_name }} {{ presupuesto.encargado.last_name }}</td>
                    <td data-id="{{ presupuesto.id }}" class="estado-celda">
                        {% if presupuesto.estado == 'S' %}
                        <select class="form-select estado-select" data-id="{{ presupuesto.id }}" onchange="actualizarEstado(this)">
                            <option value="S" selected>Enviado</option>
                            <option value="A">Aprobado</option>
                        </select>
                        {% else %}
                        {{ presupuesto.get_estado_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.anticipo %}
                        Sí
                        {% elif presupuesto.estado == 'E' %}
                        No
                        {% else %}
                        <select class="form-select anticipo-select" data-id="{{ presupuesto.id }}" onchange="actualizarAnticipo(this)">
                            <option value="False" selected>No</option>
                            <option value="True">Sí</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.estado != 'E' %}
                        {{presupuesto.monto_total|intcomma}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.estado != 'E' %}
                        {{presupuesto.monto_anticipo|intcomma}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="fecha-pago-anticipo-celda" data-id="{{ presupuesto.id }}">
                        {{ presupuesto.fecha_pago_anticipo|date:"d/m/Y" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">
            No se encontraron presupuestos asignados.
        </div>
        {% endif %}
        <!-- Paginador -->
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Primera</a></li>
                    <li class="page-item disabled"><a class="page-link">Anterior</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
                    <li class="page-item disabled"><a class="page-link">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
function actualizarAnticipo(selectElem) {
    const idPresupuesto = selectElem.getAttribute('data-id');
    const nuevoValor = selectElem.value === 'True';

    fetch(`/actualizar_anticipo/${idPresupuesto}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({anticipo: nuevoValor})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            selectElem.outerHTML = 'Sí';
            // Localizar y actualizar la celda de estado
            const celdaEstado = document.querySelector(`.estado-celda[data-id="${idPresupuesto}"]`);
            celdaEstado.innerText = data.nuevo_estado;
            const celdaFechaPagoAnticipo = document.querySelector(`.fecha-pago-anticipo-celda[data-id="${idPresupuesto}"]`);
            celdaFechaPagoAnticipo.innerText = data.fecha_pago_anticipo;  // Asumiendo que envías la fecha en la respuesta
        } else {
            alert('Hubo un error al actualizar el anticipo');
        }
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function actualizarEstado(selectElem) {
    const idPresupuesto = selectElem.getAttribute('data-id');
    const nuevoEstado = selectElem.value;

    fetch(`/actualizar_estado/${idPresupuesto}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({estado: nuevoEstado})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            selectElem.outerHTML = nuevoEstado == 'S' ? 'Enviado' : 'Aprobado';
        } else {
            alert('Hubo un error al actualizar el estado');
        }
    });
}
document.getElementById('buscadorPresupuestos').addEventListener('input', function() {
    let query = this.value;
    let resultadosDiv = document.getElementById('resultadosBusquedaPresupuestos');
    let baseUrl = document.getElementById('presupuestoUrl').value;

    if (query.length >= 3) {
        fetch(`/buscar_presupuestos/?q=${query}`)
        .then(response => response.json())
        .then(data => {
            resultadosDiv.innerHTML = '';  // Limpiar resultados anteriores
            data.forEach(presupuesto => {
                let div = document.createElement('div');
                let presupuestoUrl = baseUrl.replace('999999', presupuesto.id);
                div.innerHTML = `<a href="${presupuestoUrl}"><strong>Proyecto:</strong> ${presupuesto.proyecto_nombre}</a>`;
                resultadosDiv.appendChild(div);
            });
        });
    } else {
        resultadosDiv.innerHTML = '';  // Limpiar resultados si la consulta es demasiado corta
    }
});

//inicializar primer dropdown
// Función de inicialización para el dropdown filtroValor
function inicializarFiltroValorPresupuestos() {
    let campoSeleccionado = document.getElementById('filtroCampo').value;
    let dropdownValor = document.getElementById('filtroValor');

    // Limpiar opciones previas
    dropdownValor.innerHTML = '';

    let url = '';  // URL de donde obtener los datos

    switch (campoSeleccionado) {
        case 'cliente':
            url = '/obtener_clientes_con_proyectos/';
            break;
        case 'encargadoPresupuesto':
            url = '/obtener_ingenieros_presupuesto/';
            break;
        case 'estadoPresupuesto':
            url = '/obtener_estados_presupuesto/';
            break;
        case 'estadoAnticipo':
            url = '/obtener_estados_anticipo/';
            break;
    }

    // Si hay una URL válida, hacer la solicitud AJAX
    if (url) {
        fetch(url)
        .then(response => response.json())
        .then(data => {
            data.forEach(item => {
                let option = document.createElement('option');
                option.value = item;
                option.text = item;
                dropdownValor.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error al obtener datos:', error);
        });
    }
}
document.addEventListener('DOMContentLoaded', (event) => {
    inicializarFiltroValorPresupuestos();  // Llamar a la función al cargar la página
});

// Inicializar el dropdown al cambiar el valor del primer dropdown
document.getElementById('filtroCampo').addEventListener('change', function() {
    inicializarFiltroValorPresupuestos();
});

// Función para filtrar proyectos basado en la selección del usuario
function filtrarPresupuestos() {
    let campoSeleccionado = document.getElementById('filtroCampo').value;
    let valorSeleccionado = document.getElementById('filtroValor').value;
    let url = '';

    switch (campoSeleccionado) {
        case 'cliente':
            url = `/ver_presupuestos_cliente/${valorSeleccionado}/`;
            break;
        case 'encargadoPresupuesto':
            url = `/ver_presupuestos_encargado_presupuesto/${valorSeleccionado}/`;
            break;
        case 'estadoPresupuesto':
            url = `/ver_presupuestos_estado_presupuesto/${valorSeleccionado}/`;
            break;
        case 'estadoAnticipo':
            url = `/ver_proyectos_estado_anticipo/${valorSeleccionado}/`;
            break;
    }

    if (url) {
        window.location.href = url;
    }
}

document.getElementById('filtroValor').addEventListener('change', filtrarPresupuestos);


</script>
{% endblock %}
