{% extends 'base_adm.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4" style="font-size: 2rem;">Detalle del Presupuesto</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Nombre del proyecto</th>
                    <th>Cliente</th>
                    <th>Ingeniero asignado</th>
                    <th>Estado</th>
                    <th>Anticipo recibido</th>
                    <th>Monto Presupuesto</th>
                    <th>Monto Anticipo</th>
                    <th>Fecha de pago de Anticipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ presupuesto.proyecto.nombre }}</td>
                    <td>{{ presupuesto.proyecto.cliente.nombre }}</td>
                    <td>{{ presupuesto.encargado.first_name }} {{ presupuesto.encargado.last_name }}</td>
                    <td data-id="{{ presupuesto.id }}" class="estado-celda">
                        {% if presupuesto.estado == 'S' %}
                        <select class="form-select estado-select" data-id="{{ presupuesto.id }}" onchange="actualizarEstado(this)">
                            <option value="S" selected>Enviado</option>
                            <option value="A">Aprobado</option>
                        </select>
                        {% else %}
                        {{ presupuesto.get_estado_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.anticipo %}
                        Sí
                        {% elif presupuesto.estado == 'E' %}
                        No
                        {% else %}
                        <select class="form-select anticipo-select" data-id="{{ presupuesto.id }}" onchange="actualizarAnticipo(this)">
                            <option value="False" selected>No</option>
                            <option value="True">Sí</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.estado != 'E' %}
                        {{presupuesto.monto_total|intcomma}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if presupuesto.estado != 'E' %}
                        {{presupuesto.monto_anticipo|intcomma}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="fecha-pago-anticipo-celda" data-id="{{ presupuesto.id }}">
                        {{ presupuesto.fecha_pago_anticipo|date:"d/m/Y" }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{% url 'inicio_adm' %}" class="btn btn-primary">Inicio</a>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
function actualizarAnticipo(selectElem) {
    const idPresupuesto = selectElem.getAttribute('data-id');
    const nuevoValor = selectElem.value === 'True';

    fetch(`/actualizar_anticipo/${idPresupuesto}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({anticipo: nuevoValor})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            selectElem.outerHTML = 'Sí';
            // Localizar y actualizar la celda de estado
            const celdaEstado = document.querySelector(`.estado-celda[data-id="${idPresupuesto}"]`);
            celdaEstado.innerText = data.nuevo_estado;
            const celdaFechaPagoAnticipo = document.querySelector(`.fecha-pago-anticipo-celda[data-id="${idPresupuesto}"]`);
            celdaFechaPagoAnticipo.innerText = data.fecha_pago_anticipo;  // Asumiendo que envías la fecha en la respuesta
        } else {
            alert('Hubo un error al actualizar el anticipo');
        }
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function actualizarEstado(selectElem) {
    const idPresupuesto = selectElem.getAttribute('data-id');
    const nuevoEstado = selectElem.value;

    fetch(`/actualizar_estado/${idPresupuesto}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({estado: nuevoEstado})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            selectElem.outerHTML = nuevoEstado == 'S' ? 'Enviado' : 'Aprobado';
        } else {
            alert('Hubo un error al actualizar el estado');
        }
    });
}


</script>
{% endblock %}
