{% extends request.base_template %}
{% load custom_filters %}

{% block content %}
<div class="x_panel">
    <div class="x_title d-flex align-items-center justify-content-center" style="height: 100px;"> <!-- Ajusta la altura según sea necesario -->
    <h2 style="font-size: 36px;">{{ title }}</h2> <!-- Ajusta el tamaño de la fuente según sea necesario -->
    <div class="clearfix"></div>
</div>

    <div class="x_content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Fecha de creación</th>
                    <th>Estado</th>
                    <th>Fecha de envio</th>
                    <th>Fecha de pago</th>
                    <th>Monto total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for certificado in certificados %}
                <tr>
                    <td>{{ certificado.presupuesto.proyecto.nombre }}</td>
                    <td>
                        {{ certificado.fecha_creacion }}</td>
                    <td>
                        {{ certificado.get_estado_display }}</td>
                    <td>
                        {% if certificado.fecha_envio %}
                        {{ certificado.fecha_envio }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{% if certificado.fecha_pago %}
                        {{ certificado.fecha_pago }}
                        {% else %}
                        -
                        {% endif %}</td>
                    <td>
                        {{ certificado.monto_total| intcomma }}
                    </td>
                    <td>
                        <a href="{% url 'ver_certificado_adm' certificado.id %}" class="btn btn-primary btn-sm">Ver</a>
                        {% if certificado.estado == 'P' %}
                        <button class="btn btn-primary btn-sm marcar-enviado-btn" data-id="{{ certificado.id }}">Marcar como enviado</button>
                        {% elif not certificado.comprobante_pago %}
                            <button class="btn btn-primary btn-sm  registrar-pago-btn" data-id="{{ certificado.id }}">Registrar Pago</button>
                        {% else %}
                            <a href="{{ certificado.comprobante_pago.url }}" target="_blank">Ver Comprobante</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalRegistroPago" tabindex="-1" role="dialog" aria-labelledby="modalRegistroPagoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroPagoLabel">Registrar Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalCertificado">Certificado ID: </p>
                <div class="form-group">
                    <label for="comprobantePago" class="form-label">Adjuntar comprobante de pago</label>
                    <input type="file" class="form-control-file" id="comprobantePago" data-certificado-id="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="registrarPago(this)" data-certificado-id="">Registrar Pago</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const enviadoBtns = document.querySelectorAll('.marcar-enviado-btn');
    enviadoBtns.forEach(btn => {
        btn.addEventListener('click', function() {
            const certificadoId = this.getAttribute('data-id');
            fetch(`/marcar-enviado/${certificadoId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Asegúrate de obtener el CSRF token
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ certificadoId }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                location.reload();
            })
            .catch(error => console.error('Error:', error));
        });
    });
    const pagoBtns = document.querySelectorAll('.registrar-pago-btn');
    pagoBtns.forEach(btn => {
        btn.addEventListener('click', function() {
            const certificadoId = this.getAttribute('data-id');

            // Actualizar el contenido del modal
            document.getElementById('modalCertificado').textContent = "Certificado ID: " + certificadoId;

            const inputComprobante = document.getElementById('comprobantePago');
            inputComprobante.setAttribute('data-certificado-id', certificadoId);

            // Configurar el atributo data-certificado-id del botón "Registrar Pago"
            const botonRegistrar = document.querySelector('#modalRegistroPago button[data-certificado-id]');
            botonRegistrar.setAttribute('data-certificado-id', certificadoId);

            // Mostrar el modal
            $('#modalRegistroPago').modal('show');
        });
    });
});
function registrarPago(buttonElem) {
    event.preventDefault();
    const idCertificado = buttonElem.getAttribute('data-certificado-id');
    const inputFile = document.getElementById('comprobantePago');

    if (!inputFile.files.length) {
        alert('Cargue el comprobante para registrar el pago');
        return;
    }

    const formData = new FormData();
    formData.append('comprobantePago', inputFile.files[0]);
    formData.append('pago', true);

    fetch(`/registrar_pago_certificado/${idCertificado}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            $('#modalRegistroPago').modal('hide');
            location.reload();
        } else {
            alert('Hubo un error al registrar el pago');
        }
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}



