.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: auto;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.input-group-append button {
    margin-left: -1px;
}

.edit-btn {
  background-color: #007bff;
  border: none;
  color: inherit;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.no-link {
  text-decoration: none;
  color: inherit;
}
