{% extends 'base_gerente.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Modificar Proyecto</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" value="{{ proyecto.nombre }}" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="cliente">Cliente:</label>
                <select name="cliente" class="form-control" required>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}" {% if cliente.id == proyecto.cliente.id %}selected{% endif %}>{{ cliente.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="encargado_presupuesto">Encargado de presupuesto:</label>
                <select class="form-control" id="encargado_presupuesto" name="encargado_presupuesto">
                    {% for ingeniero in ingenieros %}
                        {% if ingeniero == proyecto.presupuesto.encargado %}
                            <option value="{{ ingeniero.pk }}" selected>{{ ingeniero.first_name }} {{ ingeniero.last_name }}</option>
                        {% else %}
                            <option value="{{ ingeniero.pk }}">{{ ingeniero.first_name }} {{ ingeniero.last_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="encargado_obra">Encargado de obra:</label>
                <select class="form-control" id="encargado_obra" name="encargado_obra">
                    <option value="" {% if proyecto.obra.encargado is None %}selected{% endif %}>No asignado</option>
                    {% for ingeniero in ingenieros %}
                        {% if ingeniero == proyecto.obra.encargado %}
                            <option value="{{ ingeniero.pk }}" selected>{{ ingeniero.first_name }} {{ ingeniero.last_name }}</option>
                        {% else %}
                            <option value="{{ ingeniero.pk }}">{{ ingeniero.first_name }} {{ ingeniero.last_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <a href="{% url 'ver_proyectos' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Volver a Proyectos</a>
    </div>
</div>
{% endblock %}
