{% extends 'base.html' %}

{% block content %}
  <h1>Registrar Proyecto</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="nombre">Nombre del proyecto:</label>
    <input type="text" id="nombre" name="nombre"><br>
    <label for="nombre">Ciudad:</label>
    <input type="text" id="ciudad" name="ciudad"><br>
    <label for="cliente">Cliente:</label>
    <select name="cliente" id="cliente">
      {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
      {% endfor %}
    </select><br>
    <label for="encargado">Encargado del presupuesto:</label>
    <select name="encargado" id="encargado">
      {% for ingeniero in ingenieros %}
        <option value="{{ ingeniero.id }}">{{ ingeniero.first_name }} {{ ingeniero.last_name }}</option>
      {% endfor %}
    </select><br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'ver_proyectos' %}" class="btn btn-primary">Cancelar</a>
  </form>
{% endblock %}
