{% extends 'base.html' %}

{% block content %}
<h1 class="display-4 text-center">Proyecto</h1>
<br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre del proyecto</th>
        <th>Cliente</th>
        <th>Encargado del presupuesto</th>
        <th>Estado del Presupuesto</th>
        <th>Encargado de la obra</th>
        <th>Estado de la Obra</th>
        <th>Ciudad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{proyecto.nombre}}</td>
          <td>{{ proyecto.cliente.nombre }}</td>
          <td>{% if proyecto.presupuesto.encargado %}{{ proyecto.presupuesto.encargado.first_name }} {{ proyecto.presupuesto.encargado.last_name }}{% else %}-{% endif %}</td>
          <td>{{ proyecto.presupuesto.get_estado_display }}</td>
          <td>{% if proyecto.obra.encargado %}{{ proyecto.obra.encargado.first_name }} {{ proyecto.obra.encargado.last_name }}{% else %}No asignado{% endif %}</td>
          <td>{{ proyecto.obra.get_estado_display }}</td>
          <td>{{ proyecto.ciudad }}</td>
          <td>
            <a href="{% url 'modificar_proyecto' proyecto.id%}" class="btn btn-primary">Modificar Proyecto</a>
            <a class="btn btn-primary" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar Proyecto</a>
          </td>
        </tr>
    </tbody>
  </table>

<a href="{% url 'ver_proyectos' %}" class="btn btn-primary">Volver a Proyectos</a>
<a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>
{% endblock %}