{% extends 'base.html' %}

{% block content %}
  <h1 class="display-4 text-center">Proyectos </h1>
<br>
<div class="input-group w-25 mb-3">
  <input class="form-control" type="text" id="buscador" placeholder="Buscar por nombre">
  <input type="hidden" id="proyectoUrl" value="{% url 'ver_proyecto' 999999 %}">
</div>
<div id="resultadosBusqueda"></div>


<!-- Dropdown para seleccionar el campo de filtro -->
<select id="filtroCampo">
    <option value="cliente">Cliente</option>
    <option value="encargadoPresupuesto">Encargado del Presupuesto</option>
    <option value="estadoPresupuesto">Estado del Presupuesto</option>
    <option value="encargadoObra">Encargado de la Obra</option>
    <option value="estadoObra">Estado de la Obra</option>
    <option value="ciudad">Ciudad</option>
</select>

<!-- Dropdown para seleccionar el valor específico del filtro -->
<select id="filtroValor">
    <!-- Este se llenará dinámicamente usando JS -->
</select>

<button id="aplicarFiltro" class="btn btn-primary">Filtrar</button>

<br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre del proyecto</th>
        <th>Cliente</th>
        <th>Encargado del presupuesto</th>
        <th>Estado del Presupuesto</th>
        <th>Encargado de la obra</th>
        <th>Estado de la Obra</th>
        <th>Ciudad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for proyecto in page_obj %}
        <tr>
          <td>{{proyecto.nombre}}</td>
          <td>{{ proyecto.cliente.nombre }}</td>
          <td>{% if proyecto.presupuesto.encargado %}{{ proyecto.presupuesto.encargado.first_name }} {{ proyecto.presupuesto.encargado.last_name }}{% else %}-{% endif %}</td>
          <td>{{ proyecto.presupuesto.get_estado_display }}</td>
          <td>{% if proyecto.obra.encargado %}{{ proyecto.obra.encargado.first_name }} {{ proyecto.obra.encargado.last_name }}{% else %}No asignado{% endif %}</td>
          <td>{{ proyecto.obra.get_estado_display }}</td>
          <td>{{ proyecto.ciudad }}</td>
          <td>
            <a href="{% url 'modificar_proyecto' proyecto.id%}" class="btn btn-primary">Modificar Proyecto</a>
            <a class="btn btn-primary" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar Proyecto</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Primera</a></li>
      <li class="page-item disabled"><a class="page-link">Anterior</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
      <li class="page-item disabled"><a class="page-link">Última</a></li>
    {% endif %}
  </ul>
</nav>


<a href="{% url 'registrar_proyecto' %}" class="btn btn-primary">Registrar nuevo proyecto</a>
<a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>

{% endblock %}
{% block extra_js %}
<script>

        //buscador
    document.getElementById('buscador').addEventListener('input', function() {
        let query = this.value;
        let resultadosDiv = document.getElementById('resultadosBusqueda');
        let baseUrl = document.getElementById('proyectoUrl').value;

        if (query.length >= 3) {
            fetch(`/buscar_proyectos/?q=${query}`)
            .then(response => response.json())
            .then(data => {
                resultadosDiv.innerHTML = '';  // Limpiar resultados anteriores
                data.forEach(proyecto => {
                    let div = document.createElement('div');
                    let proyectoUrl = baseUrl.replace('999999', proyecto.id);
                    div.innerHTML = `<a class="container" href="${proyectoUrl}">${proyecto.nombre}</a>`;
                    resultadosDiv.appendChild(div);
                });
            });
        } else {
            resultadosDiv.innerHTML = '';  // Limpiar resultados si la consulta es demasiado corta
        }
    });

document.getElementById('filtroCampo').addEventListener('change', function() {
    let campoSeleccionado = this.value;
    let dropdownValor = document.getElementById('filtroValor');

    // Limpiar opciones previas
    dropdownValor.innerHTML = '';

    let url = '';  // URL de donde obtener los datos

    switch (campoSeleccionado) {
        case 'cliente':
            url = '/obtener_clientes_con_proyectos/';
            break;
        case 'encargadoPresupuesto':
            url = '/obtener_ingenieros_presupuesto/';
            break;
        case 'estadoPresupuesto':
            url = '/obtener_estados_presupuesto/';
            break;
        case 'encargadoObra':
            url = '/obtener_ingenieros_obra/';
            break;
        case 'estadoObra':
            url = '/obtener_estados_obra/';
            break;
        case 'ciudad':
            url = '/obtener_ciudades_con_proyectos/';
            break;
    }

    // Si hay una URL válida, hacer la solicitud AJAX
    if (url) {
        fetch(url)
        .then(response => response.json())
        .then(data => {
            data.forEach(item => {
                let option = document.createElement('option');
                option.value = item;
                option.text = item;
                dropdownValor.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error al obtener datos:', error);
        });
    }
});

// codigo para mandar a la vista el valor del segundo dropdown

function filtrarProyectos() {
    let campoSeleccionado = document.getElementById('filtroCampo').value;
    let valorSeleccionado = document.getElementById('filtroValor').value;
    let url = '';

    switch (campoSeleccionado) {
        case 'cliente':
            url = `/ver_proyectos_cliente/${valorSeleccionado}/`;
            break;
        case 'encargadoPresupuesto':
            url = `/ver_proyectos_encargado_presupuesto/${valorSeleccionado}/`;
            break;
        case 'encargadoObra':
            url = `/ver_proyectos_encargado_obra/${valorSeleccionado}/`;
            break;
        case 'estadoPresupuesto':
            url = `/ver_proyectos_estado_presupuesto/${valorSeleccionado}/`;
            break;
        case 'estadoObra':
            url = `/ver_proyectos_estado_obra/${valorSeleccionado}/`;
            break;
        case 'ciudad':
            url = `/ver_proyectos_ciudad/${valorSeleccionado}/`;
            break;
    }

    if (url) {
        window.location.href = url;
    }
    }

    document.getElementById('filtroValor').addEventListener('change', filtrarProyectos);
    document.getElementById('aplicarFiltro').addEventListener('click', filtrarProyectos);


</script>
{% endblock %}