{% extends 'base_gerente.html' %}

{% block title %}Obras{% endblock %}

{% block content %}

<div class="clearfix"></div>

<div class="row">
    {% block grafico_1 %}
<div class="col-md-4 col-sm-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de obras</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="contenido-obras-activas">
                <div class="row">
                    <div class="col-md-5">
                        <select id="filtro-cliente" class="form-control">
                            <option value="">Todos los Clientes</option>
                            {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select id="filtro-ingeniero" class="form-control">
                            <option value="">Todos los Ingenieros</option>
                            {% for ingeniero in ingenieros_encargados %}
                            <option value="{{ ingeniero.id }}">{{ ingeniero.get_full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button id="borrar-filtros" class="btn btn-secondary mb-3">Limpiar</button>
                    </div>
                </div>

                <div id="tabla-obras-activas">
                    <!-- Aquí se cargará la tabla de obras activas -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    {% block grafico_2 %}
        <div class="col-md-4 col-sm-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Progreso de Obras y Certificados</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="plotly-graph-div-progreso"></div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block grafico_3 %}
    <div class="col-md-4 col-sm-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gráfico 3</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Aquí irá la imagen de la visualización -->
            </div>
        </div>
    </div>
    {% endblock %}
    </div>
<div class="row">
    {% block grafico_4 %}
    <div class="col-md-4 col-sm-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gráfico 4</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Aquí irá la imagen de la visualización -->
            </div>
        </div>
    </div>
    {% endblock %}

    {% block grafico_5 %}
    <div class="col-md-4 col-sm-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gráfico 5</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Aquí irá la imagen de la visualización -->
            </div>
        </div>
    </div>
    {% endblock %}

    {% block grafico_6 %}
    <div class="col-md-4 col-sm-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gráfico 6</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Aquí irá la imagen de la visualización -->
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    function cargarObrasActivas() {
        var cliente = $('#filtro-cliente').val();
        var ingeniero = $('#filtro-ingeniero').val();
        var page = 1;

        $.ajax({
            url: "{% url 'get_obras' %}",
            data: {
                cliente: cliente,
                ingeniero: ingeniero,
                page: page
            },
            success: function(data) {
                if (data.obras.length === 0) {
                    $('#contenido-obras-activas').html('<p>No hay Obras</p>');
                } else {
                    var obrasHtml = '<div class="row">' +
                                    '<div class="col-md-5">' +
                                    '<select id="filtro-cliente" class="form-control">' +
                                    '<option value="">Todos los Clientes</option>' +
                                    '{% for cliente in clientes %}' +
                                    '<option value="{{ cliente.id }}">{{ cliente.nombre }}</option>' +
                                    '{% endfor %}' +
                                    '</select>' +
                                    '</div>' +
                                    '<div class="col-md-5">' +
                                    '<select id="filtro-ingeniero" class="form-control">' +
                                    '<option value="">Todos los Ingenieros</option>' +
                                    '{% for ingeniero in ingenieros_encargados %}' +
                                    '<option value="{{ ingeniero.id }}">{{ ingeniero.get_full_name }}</option>' +
                                    '{% endfor %}' +
                                    '</select>' +
                                    '</div>' +
                                    '<div class="col-md-2 d-flex align-items-end">' +
                                    '<button id="borrar-filtros" class="btn btn-secondary mb-3">Limpiar</button>' +
                                    '</div>' +
                                    '</div>' +
                                    '<table class="table table-striped">';
                    obrasHtml += '<thead><tr><th>Nombre</th><th>Cliente</th><th>Ingeniero</th><th>Acciones</th></tr></thead><tbody>';
                    $.each(data.obras, function(index, obra) {
                        obrasHtml += '<tr>';
                        obrasHtml += '<td>' + obra.proyecto.nombre + '</td>';
                        obrasHtml += '<td>' + obra.proyecto.cliente.nombre + '</td>';
                        obrasHtml += '<td>' + obra.encargado.get_full_name + '</td>';
                        obrasHtml += '<td><a href="' + "{% url 'ver_resumen_obra' '0' %}".replace('0', obra.id) + '" class="btn btn-info btn-sm">Resumen</a></td>';
                        obrasHtml += '</tr>';
                    });
                    obrasHtml += '</tbody></table>';
                    $('#contenido-obras-activas').html(obrasHtml);

                    // Reattach event handlers to the new elements
                    $('#filtro-cliente').change(cargarObrasActivas);
                    $('#filtro-ingeniero').change(cargarObrasActivas);
                    $('#borrar-filtros').click(function() {
                        $('#filtro-cliente').val('');
                        $('#filtro-ingeniero').val('');
                        cargarObrasActivas();
                    });
                }
            }
        });
    }

    $('#filtro-cliente').change(cargarObrasActivas);
    $('#filtro-ingeniero').change(cargarObrasActivas);
    $('#borrar-filtros').click(function() {
        $('#filtro-cliente').val('');
        $('#filtro-ingeniero').val('');
        cargarObrasActivas();
    });

    cargarObrasActivas(); // Cargar obras activas al cargar la página
    var cronogramaData = JSON.parse('{{ cronograma_data|escapejs }}');
    var certificadoData = JSON.parse('{{ certificado_data|escapejs }}');

function plotearProgreso() {
        var obrasNombres = cronogramaData.map(d => d.obra);
        var porcentajeActividades = cronogramaData.map(d => d.porcentaje_actividades);
        var porcentajeMontos = certificadoData.map(d => d.porcentaje_monto);
        var obraIds = cronogramaData.map(d => d.obra_id);  // Suponiendo que tienes el id de la obra en cronogramaData

        var data = [
            {
                x: porcentajeActividades,
                y: obrasNombres,
                type: 'bar',
                orientation: 'h',
                name: 'Actividades completadas',
                text: porcentajeActividades.map(value => Math.round(value).toString() + '%'),
                textposition: 'auto',
                hoverinfo: 'none'  // Desactivar información emergente
            },
            {
                x: porcentajeMontos,
                y: obrasNombres,
                type: 'bar',
                orientation: 'h',
                name: 'Monto cobrado',
                text: porcentajeMontos.map(value => Math.round(value).toString() + '%'),
                textposition: 'auto',
                hoverinfo: 'none'  // Desactivar información emergente
            }
        ];

        var layout = {
            barmode: 'group',
            yaxis: { tickangle: -45 },
            margin: {
                l: 160,  // Aumentar el margen izquierdo para dar más espacio a las etiquetas
                r: 50,
                t: 50,
                b: 50
            },
            legend: {
                orientation: 'h',
                y: 1.1,
                x: 0.5,
                xanchor: 'center',
                yanchor: 'bottom'
            },
            height: 400,
            width: 500
        };

        Plotly.newPlot('plotly-graph-div-progreso', data, layout);
        // Evento de clic en las barras
        var plotDiv = document.getElementById('plotly-graph-div-progreso');
        plotDiv.on('plotly_click', function(data){
            var pointIndex = data.points[0].pointIndex;  // Obtener el índice del punto clickeado
            var obraId = obraIds[pointIndex];  // Obtener el id de la obra correspondiente
            window.location.href = "{% url 'ver_resumen_obra' 0 %}".replace('0', obraId);
        });
    }
    // Inicializar el gráfico con todos los datos
    plotearProgreso();
});
</script>
{% endblock %}
