{% extends 'base_gerente.html' %}

{% block title %}Resumen de obra{% endblock %}

{% block content %}
<div class="page-title">
    <div class="title_left">
        <h3>Resumen de la obra {{nombre_obra}}</h3>
        <h3>Cliente: {{nombre_cliente}}</h3>
        <h3>Ingeniero a cargo de la obra : {{nombre_ing_obra}}</h3>
        <h3>Presupuesto elaborado por {{nombre_ing_pres}}</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
        {% block grafico_2 %}
<div class="col-md-6 col-sm-6">
    <div class="x_panel">
        <div class="x_title">
            <h2>Cronograma de la Obra</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="grafico-gantt" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block grafico_3 %}
<div class="col-md-6 col-sm-6">
    <div class="x_panel">
        <div class="x_title">
            <h2>Montos de Certificados por Fecha</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="grafico-certificados"></div>
            <div id="mensaje-certificados" style="display:none;"><p>No hay certificados realizados</p></div>
        </div>
    </div>
</div>
{% endblock %}
</div>

<div class="row">
    {% block grafico_7 %}
<div class="col-md-3 col-sm-3">
    <div class="x_panel">
        <div class="x_title">
            <h2>Presupuesto vs Materiales</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {% if pedidos %}
            <div id="chart" style="width:100%;"></div>
            {%else %}
            <h6>Aún no se realizaron pedidos de materiales</h6>
            {%endif %}
        </div>
    </div>
</div>
{% endblock %}
    {% block grafico_8 %}
<div class="col-md-3 col-sm-3">
    <div class="x_panel">
        <div class="x_title">
            <h2>Cantidad por material</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {% if pedidos %}
            <select id="material-select" class="form-control">
                <option value="">Selecciona un Material</option>
                {% for material in hechos_materiales %}
                <option value="{{ material.material_nombre }}">{{ material.material_nombre }}</option>
                {% endfor %}
            </select>
            <div id="unidad-medida" style="margin-top: 10px;"></div>
            <div id="grafico-materiales">
                <p id="texto-inicial">Seleccione un material para ver el consumo</p>
            </div>
            {%else %}
            <h6>Aún no se realizaron pedidos de materiales</h6>
            {%endif %}
        </div>
    </div>
</div>
{% endblock %}
    {% block grafico_4 %}
    <div class="col-md-3 col-sm-3">
        <div class="x_panel">
            <div class="x_title">
                <h2>Devoluciones de materiales</h2>
                <div class="clearfix"></div>
            </div>
    <div class="x_content">
                {% if devoluciones %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id de la devolucion</th>
                            <th>Id del pedido </th>
                            <th>Estado</th>
                            <th>Monto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for devolucion in devoluciones %}
                        <tr>
                            <td>{{ devolucion.id }}</td>
                            <td>{{ devolucion.pedido.id }}</td>
                            <td>{{ devolucion.get_estado_display }}
                            <td>{{ devolucion.monto_total }}
                            </td>
                            <td><a href="{% url 'ver_devolucion' devolucion.id %}" class="btn btn-info btn-sm">Ver</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h6>No hay devoluciones registradas</h6>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
{% block grafico_1 %}
<div class="col-md-3 col-sm-3">
    <div class="x_panel">
        <div class="x_title">
            <h2>Pedidos de materiales</h2>
            <div class="clearfix"></div>
        </div>
<div class="x_content">
            {% if pedidos %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id del pedido</th>
                        <th>Fecha de solicitud</th>
                        <th>Fecha de entrega</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.fecha_solicitud }}</td>
                        <td>{% if pedido.fecha_entrega %}
                            {{ pedido.fecha_entrega }}
                            {% else %}
                            No entregado
                            {% endif %}
                        </td>
                        <td>{{ pedido.monto_total }}</td>
                        <td><a href="{% url 'ver_pedido_gerente' pedido.id %}" class="btn btn-info btn-sm">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h6>No hay pedidos realizados</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}



</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    var graphJSON = "{{ graph_json|escapejs }}";
    var certificadosJSON = "{{ certificados_json|escapejs }}";

        var cronogramaData = JSON.parse('{{ graph_json_cronograma|escapejs }}');
        console.log(cronogramaData);
        if (cronogramaData.length === 0) {
            document.getElementById('grafico-gantt').innerHTML = '<p>No hay cronograma definido</p>';
        } else {
        var startDates = cronogramaData.map(d => new Date(d.fecha_programada).toISOString().split('T')[0]);
        var finishDates = cronogramaData.map(d => d.fecha_culminacion ? new Date(d.fecha_culminacion).toISOString().split('T')[0] : null);
        var tasks = cronogramaData.map(d => d.rubro);

        var trace11 = {
            type: 'scatter',
            mode: 'markers',
            x: startDates,
            y: tasks,
            marker: { color: 'rgba(0, 102, 255, 1)', size: 10 },
            name: 'Fecha Programada'
        };

        var trace21 = {
            type: 'scatter',
            mode: 'markers',
            x: finishDates,
            y: tasks,
            marker: { color: 'rgba(255, 153, 0, 1)', size: 10 },
            name: 'Fecha de Culminación'
        };

        var layout = {
            xaxis: { title: 'Fecha', type: 'date',tickformat: '%d %b %Y' },
            yaxis: { title: 'Rubro', type: 'category' },
            height: 400,
            autosize: true,
            margin: {
                l: 100,
                r: 20,
                t: 0,
                b: 100
            }
        };

        Plotly.newPlot('grafico-gantt', [trace11, trace21], layout);
}

    var data = JSON.parse(graphJSON);
    var certificadosData = JSON.parse(certificadosJSON);


    var initialData = data.data;
    var layout = data.layout;

    var unidadesMedida = {{ unidades_medida|safe }};
    // Renderizar gráfico de materiales
    document.getElementById('material-select').addEventListener('change', function (e) {
        var selectedMaterial = e.target.value;
        var filteredData;
        var graficoContainer = document.getElementById('grafico-materiales');
        var textoInicial = document.getElementById('texto-inicial');
        var unidadMedida = document.getElementById('unidad-medida');

        if (selectedMaterial) {
            filteredData = initialData.filter(function (trace) {
                return trace.name === selectedMaterial;
            });
            textoInicial.style.display = 'none';
            unidadMedida.innerHTML = '<strong>Unidad de medida: </strong>' + unidadesMedida[selectedMaterial];
            Plotly.react(graficoContainer, filteredData, layout);
        } else {
            Plotly.purge(graficoContainer);
            textoInicial.style.display = 'block';
            unidadMedida.innerHTML = '';
        }
    });

    // Renderizar gráfico de certificados
    if (certificadosData.data.length > 0) {
        Plotly.react('grafico-certificados', certificadosData.data, certificadosData.layout).then(function(gd) {
            gd.on('plotly_click', function(data){
                var point = data.points[0];
                var certificadoId = point.customdata;
                window.location.href = '/ver_certificado_gerente/' + certificadoId;
            });
        });
    } else {
        document.getElementById('grafico-certificados').style.display = 'none';
        document.getElementById('mensaje-certificados').style.display = 'block';
    }

// Datos para el gráfico
        const proyecto = "{{ nombre_obra }}";
        const montoPresupuesto = parseFloat("{{ monto_presupuesto|floatformat:2 }}".replace(',', '.'));
        const montoMateriales = parseFloat("{{ monto_materiales|floatformat:2 }}".replace(',', '.'));

        const trace1 = {
            x: [proyecto],
            y: [montoPresupuesto],
            name: 'Presupuesto',
            type: 'bar'
        };

        const trace2 = {
            x: [proyecto],
            y: [montoMateriales],
            name: 'Materiales',
            type: 'bar'
        };

        const layout2 = {
            barmode: 'group',
            xaxis: { title: 'Proyecto' },
            yaxis: { title: 'Montos' },
            autosize: true,
            margin: {
                l: 50,
                r: 50,
                t: 50,
                b: 50,
                pad: 4
            },
        };

        Plotly.newPlot('chart', [trace1, trace2], layout2);
});
</script>

{% endblock %}
