{% extends request.base_template %}

{% block content %}
<h1 class="display-4 text-center" style="margin-bottom: 0.5rem;">Solicitar Compra de Materiales</h1>
<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col-12"></div>
</div>
<div id="search-results" style="display:none; width: 100%; max-width: 400px; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 10px; position: absolute; z-index: 1;">
</div>
<form id="formPedidoMateriales" method="POST" action="{% url 'confirmar_pedido_compra' %}" class="mt-2">
    {% if page_obj %}
        <div class="d-flex justify-content-end">
            <div class="ml-auto">
                <button id="solicitarMateriales" class="btn btn-primary">Solicitar Materiales</button>
            </div>
        </div>
    {% endif %}
    {% csrf_token %}

    <div class="row">
        {% if page_obj %}
            {% for item in page_obj %}
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 mb-4">
                <div id="material-card-{{ item.material.id }}" class="card h-100 d-flex flex-column">
                    <img src="/{{ item.material.fotografia }}" class="img-fluid" alt="{{ item.material.nombre }}" style="width: auto; height: 150px; object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-center">{{ item.material.nombre }}</h5>
                            <p class="card-text text-center">{{ item.material.marca }}</p>
                            <p class="card-text text-center">{{ item.material.medida }}</p>
                            {% if item.material.unidades_stock <= item.material.minimo %}
                                <p class="text-danger text-center"><strong>Stock bajo: {{ item.material.unidades_stock }}</strong></p>
                            {% else %}
                                <p class="text-center">Stock: {{ item.material.unidades_stock }}</p>
                            {% endif %}
                        </div>
                        <input type="hidden" id="minimo_{{ item.material.id }}" value="{{ item.material.minimo }}">
                        <input type="hidden" id="cantidad_faltante_{{ item.material.id }}" value="{{ item.cantidad_faltante }}">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info decrement-btn" data-material-id="{{ item.material.id }}">-</button>
                            <input type="number" id="cantidad_{{ item.material.id }}" name="cantidad_{{ item.material.id }}" value="{{ item.cantidad_faltante }}" readonly class="form-control mx-2">
                            <button type="button" class="btn btn-success increment-btn" data-material-id="{{ item.material.id }}">+</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light alert-dismissible w-100">
                No existen materiales faltantes para realizar pedido de compra.
            </div>
            <a href="{% url 'ver_pedidos_compras' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Atrás</a>
        {% endif %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation" class="mt-4">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</form>
<br>
{% if page_obj %}
    <a href="{% url 'inicio_deposito' %}" class="btn btn-primary">Inicio</a>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    let carrito = {};

    // Inicializar el carrito con los valores de cantidad_faltante de cada material
    {% for item in page_obj %}
        carrito['{{ item.material.id }}'] = {{ item.cantidad_faltante }};
    {% endfor %}

    document.getElementById('solicitarMateriales').addEventListener('click', function(event) {
        const form = document.getElementById('formPedidoMateriales');

        // Elimina inputs ocultos previos (si los hubiera)
        const inputsOcultos = document.querySelectorAll('.inputOculto');
        inputsOcultos.forEach(input => input.remove());

        for (let materialId in carrito) {
            if (carrito[materialId] > 0) {
                const inputOculto = document.createElement('input');
                inputOculto.type = 'hidden';
                inputOculto.name = 'material_' + materialId;
                inputOculto.value = carrito[materialId];
                inputOculto.classList.add('inputOculto');
                form.appendChild(inputOculto);
            }
        }
        // Verificar si hay materiales en el carrito
        if (!Object.values(carrito).some(value => value > 0)) {
            alert("Debes seleccionar al menos un material.");
            event.preventDefault();  // Prevenir el envío del formulario
        } else {
            form.submit();  // Envía el formulario
        }
    });

    // Obtenemos todos los botones de incremento y decremento
    var incrementButtons = document.querySelectorAll(".increment-btn");
    var decrementButtons = document.querySelectorAll(".decrement-btn");

    // Iteramos sobre los botones de incremento y agregamos el evento click
    incrementButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
            var materialId = button.getAttribute("data-material-id");
            var input = document.getElementById("cantidad_" + materialId);
            var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
            var cantidadFaltante = parseInt(document.getElementById("cantidad_faltante_" + materialId).value);
            var cantidad = input.valueAsNumber;

            cantidad += minimo;
            input.value = cantidad;
            // Actualizar el carrito
            carrito[materialId] = cantidad;
            event.preventDefault();
        });
    });

    // Iteramos sobre los botones de decremento y agregamos el evento click
    decrementButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
            var materialId = button.getAttribute("data-material-id");
            var input = document.getElementById("cantidad_" + materialId);
            var minimo = parseInt(document.getElementById("minimo_" + materialId).value);
            var cantidadFaltante = parseInt(document.getElementById("cantidad_faltante_" + materialId).value);
            var cantidad = input.valueAsNumber;

            cantidad -= minimo;

            if (cantidad < cantidadFaltante) {
                cantidad = cantidadFaltante;
            }

            input.value = cantidad;
            // Actualizar el carrito
            carrito[materialId] = cantidad;
            event.preventDefault();
        });
    });
});
</script>
{% endblock %}