{% extends request.base_template %}
{% load widget_tweaks %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Registrar Cliente</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" id="mainForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre: (*)</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
                <span class="text-danger" id="nombreError"></span> <!-- Mensaje de error -->
            </div>
            <div class="form-group">
                <label for="ruc">RUC: (*)</label>
                <input type="text" class="form-control" id="ruc" name="ruc">
                <span class="text-danger" id="rucError"></span>
            </div>
            <div class="form-group">
                <label for="email">Email: (*)</label>
                <input type="email" class="form-control" id="email" name="email">
                <span class="text-danger" id="emailError"></span>
            </div>
            <div class="form-group">
                <label for="tipo_persona">Tipo de Persona:</label>
                <select class="form-control" id="tipo_persona" name="tipo_persona">
                    <option value="Fisica">Física</option>
                    <option value="Juridica">Jurídica</option>
                </select>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad:</label>
                <select id="ciudad" name="ciudad" class="form-control">
                    {% for ciudad in ciudades %}
                        <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="ruc">Telefono: </label>
                <input type="text" class="form-control" id="telefono" name="telefono">
                <span class="text-danger" id="telefonoError"></span>
            </div>
            <div class="form-group">
                <label for="observaciones">Observaciones:</label>
                <textarea class="form-control" id="observaciones" name="observaciones" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-success" id="guardarBtn">Registrar</button>
        </form>
        <a href="{% url 'ver_clientes' %}" class="btn btn-secondary mt-3"><i class="fa fa-arrow-left"></i> Volver a Clientes</a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script>
        let rucsActuales = {{ rucs_json|safe }};
        let emailsActuales = {{ emails_json|safe }};

        document.getElementById("mainForm").addEventListener("submit", function(event) {
            isValid = true;

            // Validación Nombre
            let nombreField = document.getElementById("nombre");
            let nombre = nombreField.value;
            let regexNombre = /^[\w\s]*$/;
            if (!nombre) {
                document.getElementById("nombreError").innerText = "El campo nombre no puede estar vacío.";
                nombreField.focus();
                isValid = false;
            }
            else if (!regexNombre.test(nombre)) {
                document.getElementById("nombreError").innerText = "El nombre solo debe contener letras, números y espacios en blanco.";
                nombreField.focus();
                isValid = false;
            } else {
                document.getElementById("nombreError").innerText = ""; // Limpia el mensaje de error si el input es válido
            }

            // Validación RUC
            let rucField = document.getElementById("ruc");
            let rucIngresado = rucField.value;
            let regexRUC = /^[\d\-]*$/;

            if (!rucIngresado) {
                document.getElementById("rucError").innerText = "El RUC no puede estar vacío.";
                rucField.focus();
                isValid = false;
            } else if (!regexRUC.test(rucIngresado)) {
                document.getElementById("rucError").innerText = "El RUC solo debe contener números y un guión, sin puntos.";
                rucField.focus();
                isValid = false;
            } else if (rucsActuales.includes(rucIngresado)) {
                document.getElementById("rucError").innerText = "El RUC ingresado ya está registrado en el sistema.";
                rucField.focus();
                isValid = false;
            } else {
                document.getElementById("rucError").innerText = "";
            }

            // Validación Teléfono
            let telefonoField = document.getElementById("telefono");
            let telefonoIngresado = telefonoField.value;
            let regexTelefono = /^\d{6,20}$/;

            if (telefonoIngresado && !regexTelefono.test(telefonoIngresado)) {
                document.getElementById("telefonoError").innerText = "Ingrese un teléfono válido (solo números)";
                telefonoField.focus();
                isValid = false;
            } else {
                document.getElementById("telefonoError").innerText = "";
            }

            // Validación Email
            let emailField = document.getElementById("email");
            let emailIngresado = emailField.value;
            if (!emailField.value) {
                document.getElementById("emailError").innerText = "El email es requerido.";
                emailField.focus();
                isValid = false;
            } else {
                document.getElementById("emailError").innerText = "";
            }
            if (emailsActuales.includes(emailIngresado)) {
                event.preventDefault();  // Evitar que el formulario se envíe
                alert("El email ingresado ya está registrado para un proveedor");
                emailField.value = "";  // Limpiar el campo RUC
                emailField.focus();     // Colocar el foco en el campo RUC
            }


            if (!isValid) {
            event.preventDefault();
            }
        });


        $(document).ready(function() {
            $("#autocomplete-ciudad").autocomplete({
                source: ciudades,
                minLength: 2  // puedes ajustar esto si lo deseas
            });
        });
    </script>

{% endblock %}


