{% extends 'base.html' %}

{% block content %}
<h1>Clientes</h1>
<form method="GET">
    {{ form_buscar.as_p }}
    <button type="submit">Buscar</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">RUC</th>
      <th scope="col">Nombre de contacto</th>
      <th scope="col">Email de contacto</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.ruc }}</td>
      <td>{{ cliente.nombre_contacto }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        <button type="submit"><a href="{% url 'editar_cliente' cliente.id %}" class="no-link">Editar</a></button>
        <button type="submit"><a class="no-link" href="{% url 'eliminar_cliente' cliente.id %}">Eliminar</a></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<button type="submit"><a href="{% url 'registro_cliente' %}" class="no-link">Registrar nuevo cliente</a></button>
<button type="submit"><a href="{% url 'inicio' %}" class="no-link">Inicio</a></button>
{% endblock %}