{% extends base_template %}

{% block content %}
  <div class="x_panel">
      <div class="x_title">
          <h2>Detalle del Cliente</h2>
          <div class="clearfix"></div>
      </div>

      <div class="x_content">
            <br>
          <p><strong>ID:</strong> {{ cliente.id }}</p>
          <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
          <p><strong>RUC:</strong> {{ cliente.ruc }}</p>
          <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>

          <!-- Formulario para eliminar cliente -->
          <form method="post">
              {% csrf_token %}
              <input type="hidden" name="cliente_id" value="{{ cliente.id }}">
              <button type="submit" class="btn btn-danger">Eliminar Cliente</button>
          </form>

          <a href="{% url 'ver_clientes' %}" class="btn btn-secondary">Volver a Clientes</a>
          <a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>
      </div>
  </div>
{% endblock %}