{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="change_password_wrapper">
    <section class="change_password_content">
        <form method="post" action="{% url 'cambiar_password' %}">
            {% csrf_token %}
            <h1>Cambiar contraseña</h1>

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-default submit">Cambiar contraseña</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}
