{% extends 'base.html' %}

{% block content %}
<div class="login_wrapper">
    <section class="login_content">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Iniciar sesión</h1>

            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}

            <div>
                <input type="text" name="username" class="form-control" placeholder="Usuario" required />
            </div>
            <div>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required />
            </div>
            <div>
                <button type="submit" class="btn btn-default submit">Iniciar sesión</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-line-chart"></i> Proyectos Al Día</h1>
                    <p>Desarrollado por Joaquin Gavilan</p>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}
