{% extends 'base.html' %}

{% block content %}
  {% if error %}
    <p>{{error}}</p>
  {% endif %}
  <h2>Iniciar sesión</h2>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="id_username">Usuario:</label>
    <input type="text" name="username" required><br>
    <label for="id_password">Contraseña:</label>
    <input type="password" name="password" required><br>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
  <p>¿No tienes una cuenta? <a href="{% url 'registro' %}" class="btn btn-primary">Regístrate aquí</a></p>
{% endblock %}
