{% extends 'base_gerente.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h2>Registrar Material</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Registrar</button>
        </form>
        <div class="mt-3">
            <a href="{% url 'ver_materiales' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Volver a Materiales</a>
        </div>
    </div>
</div>
{% endblock %}
