{% extends request.base_template %}
{% load custom_filters %}
{% block content %}
  <div class="x_panel">
    <h2 class="x_title">Materiales</h2>
    <div class="clearfix"></div>
    <div class="x_content">
      <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Proveedor</th>
                <th>Medida</th>
                <th>Mínimo</th>
                <th>Unidades en Stock</th>
                <th>Imagen</th>
                <th>Precio </th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{ material.id }}</td>
                  <td>{{ material.nombre }}</td>
                  <td>{{ material.marca }}</td>
                  <td>{{ material.id_proveedor }}</td>
                  <td>{{ material.medida }}</td>
                  <td>{{ material.minimo }}</td>
                  <td>{{ material.unidades_stock }}</td>
                  {% if material.fotografia %}
                    <td><a href="/{{ material.fotografia }}" target="_blank"><img src="/{{ material.fotografia }}"></a></td>
                  {% else %}
                    <td>--</td>
                  {% endif %}
                  <td>{{ material.precio|intcomma }}</td>
                  <td>
                    <a href="{% url 'editar_material' material.id %}" class="btn btn-primary">Editar</a>
                    <!-- Actualización del enlace de eliminación -->
                    <a href="{% url 'ver_materiales' %}?eliminar_material_id={{ material.id }}" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
            </tbody>
          </table>

      <a href="{% url 'ver_materiales' %}" class="btn btn-secondary">Volver a Materiales</a>
      <a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>
    </div>
  </div>
{% endblock %}
