{% extends 'base.html' %}

{% block sidebar %}
    <!-- Contenido de la barra lateral -->
    <!-- Menú de la barra lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio </a></li>
                <li><a href="{% url 'ver_proyectos' %}"><i class="fa fa-tasks"></i> Proyectos </a></li>
                <li><a href="{% url 'ver_presupuestos_adm' %}"><i class="fa fa-dollar"></i> Presupuestos </a></li>
                <li><a href="{% url 'ver_obras_adm' %}"><i class="fa fa-building"></i> Obras </a></li>
                <li><a href="{% url 'ver_ingenieros' %}"><i class="fa fa-users"></i> Ingenieros </a></li>
                <li><a href="{% url 'ver_clientes' %}"><i class="fa fa-briefcase"></i> Clientes </a></li>
                <li><a href="{% url 'ver_proveedores' %}"><i class="fa fa-truck"></i> Proveedores </a></li>
                <li><a href="{% url 'ver_materiales' %}"><i class="fa fa-wrench"></i> Materiales </a></li>
                <li><a href="{% url 'ver_pedidos_compras_adm' %}"><i class="fa fa-cart-plus"></i> Comprar Materiales </a></li>
                <li><a href="{% url 'ver_certificados_adm' %}"><i class="fa fa-certificate"></i> Certificados </a></li>
            </ul>
        </div>
    </div>
{% endblock %}


