{% extends 'base.html' %}

{% block sidebar %}
    <!-- Contenido de la barra lateral -->
    <!-- Menú de la barra lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{% url 'inicio_ingenieros' %}"><i class="fa fa-home"></i> Inicio </a></li>
                <li><a href="{% url 'ver_presupuestos' %}"><i class="fa fa-dollar"></i> Presupuestos </a></li>
                <li><a href="{% url 'ver_obras' %}"><i class="fa fa-building-o"></i> Obras </a></li>
                <li><a href="{% url 'ver_pedidos' %}"><i class="fa fa-clipboard"></i> Pedido de materiales </a></li>
                <li><a href="{% url 'ver_certificados_ing' %}"><i class="fa fa-certificate"></i> Certificados </a></li>
            </ul>
        </div>
    </div>
{% endblock %}
