{% extends 'base.html' %}

{% block sidebar %}
    <!-- Contenido de la barra lateral -->
    <!-- Menú de la barra lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio </a></li> <!-- Aquí está el nuevo enlace -->
                <li><a href="{% url 'ver_proveedores_dep' %}"><i class="fa fa-truck"></i> Proveedores </a></li>
                <li><a href="{% url 'ver_materiales' %}"><i class="fa fa-wrench"></i> Materiales </a></li>
                <li><a href="{% url 'ver_proyectos' %}"><i class="fa fa-tasks"></i> Proyectos </a></li>
                <li><a href="{% url 'ver_pedidos_dep' %}"><i class="fa fa-clipboard"></i> Pedido de materiales </a></li>
                <li><a href="{% url 'ver_devoluciones_dep' %}"><i class="fa fa-exchange"></i> Devolución de materiales </a></li>
            </ul>
        </div>
    </div>
{% endblock %}