{% extends 'base.html' %}

{% block sidebar %}
    <!-- Contenido de la barra lateral -->
    <!-- Menú de la barra lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio </a></li>
                <li><a href="{% url 'ver_inventario' %}"><i class="fa fa-list-ol"></i> Inventario </a></li>
                <li><a href="{% url 'ver_pedidos_compras' %}"><i class="fa fa-cart-plus"></i> Pedido de Compras </a></li>
                <li><a href="{% url 'ver_pedidos_dep' %}"><i class="fa fa-clipboard"></i> Pedido de materiales </a></li>
                <li><a href="{% url 'ver_devoluciones_dep' %}"><i class="fa fa-exchange"></i> Devolución de materiales </a></li>
                <!--    <li><a href="{% url 'listar_marcas_unidades' %}"><i class="fa fa-table"></i> Parámetros </a></li> -->
            </ul>
        </div>
    </div>
{% endblock %}