{% extends 'base.html' %}

{% block sidebar %}
    <!-- Contenido de la barra lateral -->
    <!-- Menú de la barra lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio </a></li>
                <li><a href="{% url 'ver_ing_gerente' %}"><i class="fa fa-tasks"></i> Resumen de Ingenieros </a></li>
                <li><a href="{% url 'ver_obras_gerente' %}"><i class="fa fa-briefcase"></i> Obras </a></li>
                <li><a href="{% url 'ver_ingenieros' %}"><i class="fa fa-users"></i> Ingenieros </a></li>
                <li><a href="{% url 'ver_clientes' %}"><i class="fa fa-briefcase"></i> Clientes </a></li>
                <li><a href="{% url 'ver_administradores' %}"><i class="fa fa-user"></i> Personal Administrativo </a></li>
                <li><a href="{% url 'ver_proveedores' %}"><i class="fa fa-truck"></i> Proveedores </a></li>
                <li><a href="{% url 'ver_encargados_deposito' %}"><i class="fa fa-slideshare"></i> Encargados de Depósitos </a></li>
                <li><a href="{% url 'ver_materiales' %}"><i class="fa fa-wrench"></i> Materiales </a></li>
                <li><a href="{% url 'ver_proyectos' %}"><i class="fa fa-tasks"></i> Proyectos </a></li>
            </ul>
        </div>
    </div>
{% endblock %}


