<div class="modal fade" id="modalAddSubseccion" tabindex="-1" role="dialog" aria-labelledby="modalAddSubseccionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddSubseccionLabel">Añadir Subsección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario para añadir subsección -->
                <form id="formAddSubseccion">
                    <div class="form-group">
                        <label for="nombreSubseccion">Nombre de la Subsección</label>
                        <input type="text" class="form-control" id="nombreSubseccion" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir Subsección</button>
                </form>
            </div>
        </div>
    </div>
</div>
